# Working with purchases using DataFrames

## Load data

In [46]:
rdd = sc.textFile('PURCHASES/purchases.txt')

## Convert to a DataFrame

In [49]:
from pyspark.sql import Row

def parse_row(line):
    """Converts a line into a Row
       If the line is a data line it is converted to a Row and returned as a list with that Row,
       otherwise an empty list is returned.
    """
    if len(line.split('\t'))==6:
        data, hora, cidade, tipo, custo, pago = line.split('\t')
        return [Row(data=data, hora=hora, cidade=cidade, tipo=tipo, custo=float(custo), pago=pago)]
    return []

Using flatMap we have the flexibility to return nothing from a call to the function, this is accomplished returning and empty array.

In [50]:
data = rdd.flatMap(parse_row).toDF()

In [65]:
# Imprime o esquema do Dataframe

In [66]:
# Mostra algunhas li√±as do Dataframe

## Count the number of points

## Count the number of points per city

## Top 10 cities with more purchases (lines)

## Filter Music data

## Find the total purchases cost per day of Music in San Diego